<% provide(:title, "管理者ログイン画面") %>

<div class="signin_body">
  <header class="header bg-dark">
    <div class="container p-2">
      <div class="text-center">
        <h1 class="text-white fw-bold">
          S I G N I N
        </h1>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row my-5">
      <div class="col-lg-6 col-sm-12 mx-auto">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-3">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field mb-3">
          <%= f.label :password, class: "form-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password" , class: "form-control"%>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field form-check mb-3 p-0">
          <%= f.check_box :remember_me, class: "form-check-form" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
        <% end %>

        <div class="actions">
          <%= f.submit "サインインする" , class: "btn btn-success"%>
        </div>
        <% end %>

      </div>
    </div>
  </div>


  <footer class="footer bg-dark">
    <div class="container p-2">
      <div class="text-center">
        <span class="text-white">
          @bilbil
        </span>
      </div>
    </div>
  </footer>
</div>

  <%= render "admin/shared/links" %>